<h2>30. Como crear y registrar un provider</h2>
<div class="ckeditor">
    <p>Para escribir un proveedor de servicios en Laravel, debemos crear una nueva clase que implemente la
        Illuminate\Support\ServiceProvider interfaz. Esta interfaz define dos métodos que debemos implementar:
        register() y boot().</p>
    <p>El método register() se usa para enlazar cosas en el contenedor de servicios de Laravel. Por ejemplo, podemos
        enlazar una instancia de una clase en el contenedor, lo que nos permitirá acceder a esa instancia en cualquier
        lugar de nuestra aplicación.</p>
    <p>El método boot() se usa para realizar cualquier configuración que deba hacerse después de que se hayan registrado
        los enlaces del contenedor. Esto podría incluir la definición de rutas, la publicación de activos o la
        configuración de middleware.</p>
    <p>Para registrar un proveedor de servicios con nuestra aplicación Laravel, debemos agregar la clase del proveedor a
        la providersmatriz en el config/app.phparchivo. Luego, cada vez que nuestra aplicación se inicie, se llamará
        automáticamente al register() y boot() métodos en nuestra clase de proveedor.</p>
    <p>En resumen, los proveedores de servicios son una forma poderosa de extender y personalizar su aplicación Laravel.
        Al escribir sus propios proveedores de servicios, puede enlazar sus propias clases en el contenedor de servicios
        y realizar cualquier configuración necesaria para su aplicación.</p>
</div>


<h2>31. View Composer</h2>
<div class="ckeditor">
    <p>Para crear un composer, creen un archivo PHP de la siguienta menera App\View\Composers\CompanyComposer.php&nbsp;
    </p>
    <p>Asegurense que el nombre del archivo sea descriptivo y haga referencia al tipo de información que vas a
        compartir. La estructura del archivo debe ser la siguiente</p>
    <pre class="language-php" tabindex="0"><code class="language-php"><span class="token php language-php"><span class="token delimiter important">&lt;?php</span>

<span class="token keyword">namespace</span> <span class="token package">App<span class="token punctuation">\</span>View<span class="token punctuation">\</span>Composers</span><span class="token punctuation">;</span>

<span class="token keyword">use</span> <span class="token package">App<span class="token punctuation">\</span>Repositories<span class="token punctuation">\</span>UserRepository</span><span class="token punctuation">;</span>
<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>View<span class="token punctuation">\</span>View</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name-definition class-name">CompanyComposer</span>
<span class="token punctuation">{</span>

<span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function-definition function">compose</span><span class="token punctuation">(</span><span class="token class-name type-declaration">View</span> <span class="token variable">$view</span><span class="token punctuation">)</span><span class="token punctuation">:</span> <span class="token keyword return-type">void</span>
<span class="token punctuation">{</span>
<span class="token variable">$view</span><span class="token operator">-&gt;</span><span class="token function">with</span><span class="token punctuation">(</span><span class="token string single-quoted-string">'prueba'</span><span class="token punctuation">,</span> <span class="token string single-quoted-string">'Hola mundo'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span class="token punctuation">}</span></span></code></pre>
    <p>Luego, para compartirlo con una vista, debes dirigirte a cualquier provider, por ejemplo
        App\Providers\AppServiceProvider y ejecutar el siguiente codigo</p>
    <pre class="language-php" tabindex="0"><code class="language-php"><span class="token php language-php"><span class="token delimiter important">&lt;?php</span>

<span class="token keyword">namespace</span> <span class="token package">App<span class="token punctuation">\</span>Providers</span><span class="token punctuation">;</span>

<span class="token keyword">use</span> <span class="token package">App<span class="token punctuation">\</span>View<span class="token punctuation">\</span>Composers<span class="token punctuation">\</span>CompanyComposer</span><span class="token punctuation">;</span>
<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>Support<span class="token punctuation">\</span>Facades</span><span class="token punctuation">;</span>
<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>Support<span class="token punctuation">\</span>ServiceProvider</span><span class="token punctuation">;</span>
<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>View<span class="token punctuation">\</span>View</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name-definition class-name">AppServiceProvider</span> <span class="token keyword">extends</span> <span class="token class-name">ServiceProvider</span>
<span class="token punctuation">{</span>
<span class="token comment">/**
* Register any application services.
*/</span>
<span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function-definition function">register</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span> <span class="token keyword return-type">void</span>
<span class="token punctuation">{</span>
<span class="token comment">// ...</span>
<span class="token punctuation">}</span>

<span class="token comment">/**
* Bootstrap any application services.
*/</span>
<span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function-definition function">boot</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span> <span class="token keyword return-type">void</span>
<span class="token punctuation">{</span>
<span class="token comment">// Using class based composers...</span>
<span class="token class-name class-name-fully-qualified static-context">Facades<span class="token punctuation">\</span>View</span><span class="token operator">::</span><span class="token function">composer</span><span class="token punctuation">(</span><span class="token string single-quoted-string">'posts'</span><span class="token punctuation">,</span> <span class="token class-name static-context">CompanyComposer</span><span class="token operator">::</span><span class="token keyword">class</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token punctuation">}</span>
<span class="token punctuation">}</span></span></code></pre>
</div>
